# Exclude all shaders from language statistics
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.hlsl linguist-detectable=false

# Or exclude an entire folder (like a 3rd party asset folder)
Assets/Plugins/* linguist-vendored
